FRONTEND_URL=http://localhost:9000
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=test
MONGO_INITDB_DATABASE=gipfel-server
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=development
CACHE_PREFIX='api_cache:'
MAP_PBF_URL=https://download.geofabrik.de/europe/germany/sachsen-latest.osm.pbf
MAP_OUTPUT_PATH=./data/map/
MAP_BBOX="13.921738,50.789443,14.413376,51.018506" # west,south,east,north
OPENMAPTILES_PATH=../openmaptiles/openmaptiles